{% extends 'base.html' %}
{% block title %}My Title{% endblock %}
{% block content %}
<h1>{{name}}</h1>
<div class="devicelist">
    <h2>Device list:</h2>
    <div class="devices">
        {% for d in devices %}
        <div class="device"><strong>{{d.name}}</strong>: {{d.id}}</div>
        {% endfor %}
    </div>
</div>
<br/>
<form method="POST">
    <label for="seconds">Time to seek for devices in seconds:</label>
    <input type="number" id="seconds" name="seconds" size="10" value=10 />
    <br/>
    <input type="submit" value="Start" />
</form>
{% endblock %}